

body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
 	font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
    font-size: 110%;
    text-align: center;
    /* background-color: #4e4d4d; */
}

form {
    background-image: url(../images/bg.gif);
    margin: 0 auto;
    width: 950px;
    background-attachment: scroll;
    background-repeat: repeat;
    height: 100%;
    background-position: center;
  }
  
h1 {
	color: #333333;
	font-size: 1.8em;
	font-family: "Trebuchet MS";
	font-weight: bold;
	line-height: 30px;
	padding: 0;
}
h2 {
	color: #333333;
	font-size: 16px;
	font-family: "Trebuchet MS";
	font-weight: bold;
	line-height: 18px;
	text-align: left;
	padding-left: 0;
	display: block;
	text-transform: uppercase;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 20px;
	margin-left: 0;
	float: left;
	width: 100%;
}

p {
	color: #000000;
	font-size: 0.9em;
	font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
	font-weight: lighter;
	font-style: normal;
	line-height: 18px;
	padding-bottom: 15px;
}

.footer
{ text-align:center ;
    height: 25px;
    vertical-align: middle;
    /* background-image: url(../images/footer_bg.gif);
    background-repeat: repeat; */
    background-attachment: scroll;
    color: #333333;
    font-size: 70%;
}

.content
{
    background-color: #ffffff;

}

.frm
{
    padding-right: 0px;
    padding-left: 0px;
    text-align: left;
    padding-bottom: 0px;
    padding-top: 0px;
    border-bottom-color: #000000;
    border-top-color: #000000;
    margin: 0px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-color: #000000;
    border-left-width: 5px;
}

.frm2
{
    border-right: #000000 2px solid;
    padding-right: 5px;
    border-top: #000000 2px solid;
    padding-left: 5px;
    border-left: #000000 2px solid;
    border-bottom: #000000 2px solid;
    background-color: #87cefa;
    text-align: left;
    padding-bottom: 5px;
    padding-top: 5px;
}


.link
{
    color: #002630;
    font-size: medium;
    font-weight: bold;
}

.title
{
    color: #A70E10;
    font-weight: bold;
    padding-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
    text-align: left;
    padding-bottom: 0px;
    padding-top: 0px;
}
.title_hr
{
    background-color: #990000;
    height: 1px;
    padding-bottom: 0px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}


.linkBlack
{
BACKGROUND-COLOR: transparent;

COLOR: graytext;
FONT-SIZE: 70%;
CURSOR: hand;
FONT-WEIGHT: bold;
TEXT-DECORATION: underline;

}



.FAQLinks
{
    color: #000000;
    font-size: medium;
    cursor: hand;
    font-weight: bold;
    text-align: left;
   }


.txt
{
text-align: justify;
color: #000000;
font-size: medium;
text-decoration: none;
background-color: transparent;
}

.txtFAQ_Q
{
    text-align: justify;
    color: #660000;
    font-size: medium;
    text-decoration: none;
    background-color: transparent;
}
.txtFAQ_A
{
text-align: justify;
color: #000000;
font-size: small;
text-decoration: none;
background-color: transparent;
}



.txt1
{
    text-align: justify;
    color: #990000;
    font-size: medium;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
}

.txt2
{
    text-align: justify;
    color: #003399;
    font-size: medium;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
}


.txt3
{
text-align: justify;
color: #000000;
font-size: medium;
text-decoration: none;
font-weight: bold;
padding-bottom: 5px;
padding-top: 5px;
}







.mainTabs
{
    text-align: center;
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
    clear: both;
}


.mainTabsSection
{

 text-align: center;

}

.mainTabsSectionItem
{
    border-left: #8e909c 1px solid;
    border-top: #8e909c 1px solid;
    border-right: #8e909c 1px solid;
    border-bottom: #8e909c 1px solid;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    color: #000000;
    font-weight: bold;
    font-size: 11pt;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: #327c9c;
    text-align: center;
    cursor: hand;
}
.mainTabsSection:visited
{
    
}
.mainTabsSection:hover
{


}
.mainSelectedTab
{

}
.mainSelectedTab :visited
{

}
.mainSelectedTab :hover
{


}








